[Unit]
Description=Updates album covers from Last.FM every day at 03:30.
Requires=update_album_covers.service
[Timer]
Unit=update_album_covers
OnCalendar=*-*-* 03:30
[Install]
WantedBy=timers.target
